<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Карточка</h1>

    <div class="card-body">
        {% if card_item.photo %}
        <img src="{{ card_item.photo.url }}" alt="" width="350" class="float-left mr-3">
        {% endif %}
        <h5 class="card-title">{{ card_item.first_name }} {{ card_item.last_name }}</h5>
        <p class="card-text">{{ card_item.birthday|linebreaks }}</p>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ create_post_form.as_p }}

        <button type="submit" class="btn btn-primary btn-block">Создать</button>
    </form>

</body>

</html>